mixin avatar(title)
  .avatar
    .avatar__circle
      img.avatar__image(src="../../static/img/avatar.svg" width="130" height="130")
      .avatar__label 
        span поменять<br> аватар 
    .avatar__name= title