extends ../../layout/main/main.pug
block variables
  - title = "Chat"
  - description = "Учебный прект"
  - favicon = "../../static/img/favicon.png"
  - scripts = "index.js"

block content
  <main>
    <h1>Репозиторий Chat, шаблон Pug</h1>
    <h2>Ветка "main"</h2>
    <p>Страница Chat</p>
    <p>Тест: <span id="root"></span></p>
  </main>