extends ../../layout/main/main.pug

//-переменные
block variables
  - title = "Profile"
  - description = "Учебный прект"
  - favicon = "../../static/img/fav.png"
  - scripts = "./index.ts"
  //-подключение модального окна
  - modal = true

//-компоненты
include ../../components/button/button.pug
include ../../components/input-change/input-change.pug
include ../../components/avatar/avatar.pug
include ../../components/file-load/file-load.pug

block content
  .wrapper


