extends ../../layout/main/main.pug

//-переменные
block variables
  - title = "Profile"
  - description = "Учебный прект"
  - favicon = "../../static/img/fav.png"
  - scripts = "./index.ts"
  //-подключение модального окна
  - modal = true

//-компоненты

block content
  .wrapper


