extends ../layout/main/main.pug

//-переменные
block variables
  - title = "Welcome"
  - description = "Учебный прект"
  - favicon = "../static/img/fav.png"
  - scripts = "index.ts"

//-компоненты
include ../components/button/button.pug
include ../components/input/input.pug

block content
  .wrapper
    .form
