mixin messege(title)
  form.messege(method="post" enctype="multipart/form-data")
    .messege__file
      img(src="../../static/img/clip.svg")
    .messege__input
      textarea.messege__enter(type="text" name="messege" placeholder="сообщение" autocomplete="off" rows="1")
    .messege__send
      button.messege__button(class="messege__button" type="submit") xcv