<div class="avatar">
  <div class="avatar__circle">
    <img src={{avatarSrc}} alt="" width="130" height="130">
    <div class="avatar__label">
      <span>поменять<br> аватар</span>
    </div>
  </div>
  <div class="avatar__name">{{title}}</div>
</div>
